<meta charset="utf-8">
<section class="content-header">
	<h1>Reclamação</h1>
</section>
<section class="content">
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Filtro</h3>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool"	data-widget="collapse" data-toggle="tooltip" title="Collapse">
					<i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="box-body">
			<div class="row">
				<div class="col-xs-3">
					<label>Motivo Reclamação</label>
					<select style="width: 100%;" class="form-control"
						ng-model="filtro.motivoReclamacaoId" required
						ng-options="motivoReclamacao.id as motivoReclamacao.descricao for motivoReclamacao in aMotivoReclamacoes track by motivoReclamacao.id"
						auto-complete>
					</select>
				</div>
				<div class="col-xs-3">
					<label>Representante</label> <select
						style="width: 100%;" class="form-control"
						ng-model="filtro.representanteId" required
						ng-options="representante.id as representante.nome for representante in aRepresentantes track by representante.id"
						auto-complete>
					</select>
				</div>
				<div class="col-xs-3">
					<label>Status</label> 
				    <select ng-model="filtro.statusId" class="form-control">
				      <option ng-value="0">Aberto</option>
				      <option ng-value="1">Respondido</option>
				      <option ng-value="2">Classificado</option>
				    </select>
				</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label>Data Reclamação</label>
							<p class="input-group">
								<input type="text" class="form-control"
									is-open="datePickerPopup.opened"
									ng-model="filtro.data" close-text="Fechar"
									datepicker-options="dateOptions" uib-datepicker-popup="dd/MM/yyyy" required /> <span
									class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="fnOpen()">
										<i class="glyphicon glyphicon-calendar" style="top: 2px;"></i>
									</button>
								</span>
							</p>
						</div>
					</div>
			</div>
		</div><!-- /.box-body -->
		<div class="box-footer">
			<button type="submit" class="btn btn-primary"	ng-click="fnNovo()">Novo</button>
			<button type="submit" class="btn btn-primary"	ng-click="fnBuscar()">Consultar</button>
		</div><!-- /.box-footer-->
	</div>
	<div class="box box-primary">
		<div class="box-body">

			<div 
			    ui-grid = "gridReclamacaoOptions" 
			    ui-grid-pagination
			    ui-grid-resize-columns></div>

		</div><!-- /.box-body -->
	</div><!-- /.box -->
</section><!-- /.content -->
