<meta charset="utf-8">
<section class="content-header">
	<h1>Médico</h1>
</section>
<section class="content">
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Filtro</h3>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool"	data-widget="collapse" data-toggle="tooltip" title="Collapse">
					<i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="box-body">
			<div class="row">
				<div class="col-xs-3">
					<label>Nome</label> 
					<input type="text" class="form-control" ng-keyup="$event.keyCode == 13 && fnBuscar()"	ng-model="filtro.nome" maxlength="60">
				</div>
				<div class="col-xs-3">
					<label>CRM</label> 
					<input type="text" class="form-control" ng-keyup="$event.keyCode == 13 && fnBuscar()"	ng-model="filtro.crm" maxlength="30">
				</div>
				
				<div class="col-xs-3">
					<label>Código</label> 
					<input type="text" class="form-control"	ng-keyup="$event.keyCode == 13 && fnBuscar()" ng-model="filtro.codigo" maxlength="40">
				</div>
			</div>
		</div><!-- /.box-body -->
		<div class="box-footer">
			<button type="submit" class="btn btn-primary"	ng-click="fnNovo()">Novo</button>
			<button type="submit" class="btn btn-primary"	ng-click="fnBuscar()">Consultar</button>
		</div><!-- /.box-footer-->
	</div>
	<div class="box box-primary">
		<div class="box-body">

			<div 
			    ui-grid = "gridMedicoOptions" 
			    ui-grid-pagination
			    ui-grid-resize-columns></div>

		</div><!-- /.box-body -->
	</div><!-- /.box -->
</section><!-- /.content -->
