<meta charset="utf-8">
<section class="content-header">
	<h1>Venda</h1>
</section>
<section class="content">
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Filtro</h3>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool"	data-widget="collapse" data-toggle="tooltip" title="Collapse">
					<i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="box-body">
			<div class="row">
				<div class="col-xs-4">
					<label>Produto</label> 
					<input 
					   type              = "text" 
					   class             = "form-control" 
					   ng-model          = "oProdutoSelecionado"
					   placeholder       = "busca por descricao ou ean"
					   uib-typeahead     = "produto as produto.descricao for produto in fnPesquisaProdutos($viewValue)"
					/> 
				
				</div>
				<div class="col-xs-4">
					<label>Médico</label> 

					<input 
					   type              = "text" 
					   class             = "form-control" 
					   ng-model          = "medicoSelected"
					   placeholder       = "Medicos ..."
					   uib-typeahead     = "medico as medico.nome for medico in fnPesquisaRemota($viewValue)"
					/> 

				</div>
				<div class="col-xs-2">
					<label>CRM</label> 
					<input type="text" class="form-control"	ng-model="filtro.crm" maxlength="20">
				</div>
				
				 <div class="col-xs-2">
                        <label>Data da venda:</label>
                        <p class="input-group">
                            <input 
                                type     = "text" 
                                class    = "form-control"
                                is-open  = "datePickerPopup.opened"
                                required
                                ng-model   = "filtro.dataVenda" 
                                close-text ="Fechar"
                                show-button-bar      = "false" 
                                datepicker-options   = "dateOptions"
                                uib-datepicker-popup = "dd/MM/yyyy" /> 

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="fnOpen()">
                                    <i class="glyphicon glyphicon-calendar" style="top: 2px;"></i>
                                </button>
                            </span>
                         </p>
				    </div>
				    
			</div>
		</div><!-- /.box-body -->
		<div class="box-footer">
		    <!-- 
			<button type="submit" class="btn btn-primary"	ng-click="fnNovo()">Novo</button>
		     -->
			<button type="submit" class="btn btn-primary"	ng-click="fnBuscar()">Consultar</button>
		</div><!-- /.box-footer-->
	</div>
	<div class="box box-primary">
		<div class="box-body">

			<div 
			    ui-grid = "gridProdutoVendaOptions" 
			    ui-grid-pagination
			    ui-grid-resize-columns></div>

		</div><!-- /.box-body -->
	</div><!-- /.box -->
</section><!-- /.content -->
